<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    {% for translation in object.translations %}
        <strong>{{ translation.getLocale()|upper }}</strong>: "{{ translation.getContent() }}"
        {% if not loop.last %}
            {{ '<br>' }}
        {% endif %}
    {% endfor %}
</td>
